
html, body {
    min-height: 100%;
}
.container{
    display: block;
    height: 760px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: none;
    background-image: url("../assets/grass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div.container-bar
{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap:1100px;
    padding-top: 40px;
}
div.container-current-weather{
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
div.container-days-weather{
    display: flex;
    align-items: center;
    width: 1200px;
    align-self: center;
    justify-content: center;
    margin: auto;
    text-align: center;

}
div.container-days-weather .day{
    display: inline-block; 
    border-radius: 25px;
    width: 190px;
    height: 200px;
    border: black 2;
    background-color:rgba(222, 231, 203, 0.21);
    align-self: center;
    align-items: center;
    margin-left: 30px;
}
h1, h3 {    
    margin: none;
    padding: none;
}
.temperature{
    font-size: 80px;
    margin: 0px;
    padding: none;
}
.location{
    font-size: 30px;
    margin: 0px;
    padding: none;
}
div .day{display: block;
width: 60px;}