<!--<router-outlet></router-outlet>-->
<div class="container">
<div class="container-bar">
  <form><input placeholder="search" type="text" name="city" [(ngModel)]="citySearch"><button type="submit" (click)="onSubmit()">Search</button></form>
</div>
<div class="container-current-weather">
  <h3 class="location">{{weatherData?.location?.city}}</h3>
  <h1 class="temperature">{{weatherData?.current_observation?.condition?.temperature}}°C</h1>
  <h3 >{{weatherData?.current_observation?.condition?.text}}</h3>
  <h3 >Humidity:{{weatherData?.current_observation?.atmosphere?.humidity}}% </h3> 
  <h3 >Pressure: {{weatherData?.current_observation?.atmosphere?.pressure}}mb</h3>
  <h3 >Wind: {{weatherData?.current_observation?.wind?.speed}} km/h</h3>
</div>
<div class="container-days-weather">
  <div class="day" *ngFor=" let cast of weatherData?.forecasts">
  <div>{{cast.day}}</div>
  <div>{{cast.low}}|{{cast.high}}</div>
  <div><img [src]="'../assets/'+cast.text+'.png'"></div>
  <div>{{cast.text}}</div>
  </div>
</div>
</div>

